<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Harjutustund 1</title>

    <link href="style.css" rel="stylesheet">
</head>
<body>
<nav>
    <a href="index.php?command=show_book_list" id="book-list-link">Raamatud</a>  |
    <a href="index.php?command=show_book_form" id="book-form-link">Lisa raamat</a>  |
    <a href="index.php?command=show_author_list" id="author-list-link">Autorid</a>  |
    <a href="index.php?command=show_author_form" id="author-form-link">Lisa autor</a>  |
</nav>

<table id="list">
    <tr>
        <th>Nimi</th>
        <th>Perekonnanimi</th>
        <th>Hinne</th>
    </tr>
    <tpl tpl-foreach="$authors as $author">
    <tr>
        <td><a href="index.php?command=show_author_edit&id={{$author->id}}">{{$author->firstName}}</a></td>
        <td>{{$author->lastName}}</td>
        <td>{{$author->grade}}</td>
    </tr>
    </tpl>

</table>

<p id="message-block" align="center">
{{$message}}
</p>

<footer> ICD0007 </footer>

</body>
</html>