<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Harjutustund 1</title>

    <link href="style.css" rel="stylesheet">
</head>
<body>
<nav>
    <a href="index.php?command=show_book_list" id="book-list-link">Raamatud</a>  |
    <a href="index.php?command=show_book_form" id="book-form-link">Lisa raamat</a>  |
    <a href="index.php?command=show_author_list" id="author-list-link">Autorid</a>  |
    <a href="index.php?command=show_author_form" id="author-form-link">Lisa autor</a>  |
</nav>
<br><br>

<form align="center" method="post" action="http://localhost:8080/index.php?command=show_book_form">

    <table id="adding">
        <tr>
            <td><label>Pealkiri: </label></td>
            <td><label><input name="title" type="text" value="{{$books -> title}}"></label></td>
        </tr>
        <tr>
            <td><label>Autor1: </label></td>
            <td><label>
                <select name="author1">
                    <option value="{{$author -> id}}">{{$author -> getAuthorName()}}</option>
                    <tpl tpl-foreach="$authorsList as $author">
                        <option value="{{$author -> id}}">
                            {{$author -> getAuthorName()}}
                        </option>
                    </tpl>
                </select>
            </label></td>
        </tr>
        <tr>
            <td><label>Autor2: </label></td>
            <td><label>
                <select name="author2">
                    <option></option>
                </select>
            </label>
            </td>
        </tr>

        <tr>
            <td><label>Hinne: </label></td>
            <td>
                <tpl tpl-foreach="range(1, 5) as $grade">
                <label for="grade{{$grade}}">
                    <input id="grade{{$grade}}" name="grade" type="radio" value="{{$grade}}" tpl-checked="$grade == $books -> grade">{{$grade}}
                </label>
                </tpl>
            </td>

        </tr>
        <tr>
            <td><label>Loetud: </label></td>
            <td id="box">
                <label><input name="isRead" type="checkbox" value="1" tpl-checked="$books -> isRead === 1"></label>
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="saada"><input name="submitButton" type="submit" value="Saada"></td>
        </tr>

    </table>
    <p id="error-block">
        {{$error}}
    </p>
</form>

<footer> ICD0007</footer>
</body>
</html>