
nav {
    background-color: #333333;
    height: 30px;
    text-align: center;
    padding-top: 1%;
}

nav a {
    text-align: center;
    color: #ffffff;
    padding: 30px;
    font-size: 18px;
    text-decoration: none;
}

body {margin:0}

#list {
    cursor: pointer;
    border-collapse: collapse;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}


#list th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #c6c1c1;
}

#list tr:hover {background-color:#f5f5f5;}


select, option {
    width: 170px;
}

#adding {
    margin-left: auto;
    margin-right: auto;
}

#adding td {
    border-bottom-style: none;
    padding: 5px;
}

#box {
    text-align: left;
}

.saada {
    text-align: right;
}

footer {
    position: fixed;
    bottom: 10px;
    width:100%;
    text-align: center;
}
